extend ../layout/index

block container 
        div.py-10
            h1.text-4xl.my-10.font-extrabold.text-center Bienes 
                spam.font-normal Raices
            h2.text-center.text-2xl.font-extrabold= page
            
             if errors
                div(class="max-w-md mx-auto my-10")
                     each error in errors
                        p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.font-bold=error

            .mt-8.mx-auto.max-w-md
                .bg-white.py-8.px-4.shadow
                    form.space-y-5(method="POST" action="/auth/register" noValidate)
                        div
                            label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Tu nombre:
                            input#name.w-full.px-3.py-2.border.border-gray-300(placeholder="Tu nombre" type="text" name="name") 
                        div
                            label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Email:
                            input#email.w-full.px-3.py-2.border.border-gray-300(placeholder="Email" type="email" name="email") 
                        div
                            label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Contrasena:
                            input#password.w-full.px-3.py-2.border.border-gray-300(placeholder="Contrasena" type="password" name="password") 
                        div
                            label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Repite contrasena:
                            input#password_repit.w-full.px-3.py-2.border.border-gray-300(placeholder="Tu nombre" type="password" name="password_repit") 
                        
                        .flex.items-center.justify-between 
                            a.text-gray-500.text-xs(href="/auth/login") Ya tienes cuenta? Inicia sesion
                            a.text-gray-500.text-xs(href="/auth/olvide-password") Olvidaste tu contrasena

                        input(type="submit" value="Crear cuenta" class="cursor-pointer font-bold w-full text-white py-2 bg-indigo-600 hover:bg-indigo-200 hover:text-black")